@charset "UTF-8";

body {
    background-color: #f4f4f4;
}

div {
    background-color: lightgrey;
    padding: 20px;
}

h1 {
    color: blue;
    text-align: center;
}

p {
    font-size: 16px;
    color: red;
}