@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* Aplicaa a mesma família de fontes a todos os elementos */
}

html {
    font-size: 16px;
    /*Define o tamanho padrão da fonte para todo o documento*/
}

body {
    background-color: #f4f4f4;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem; /* Igual a 16px*/
    margin: 0.5rem; /* 8px*/
}

#main-header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

div {
    background-color: lightgrey;
    padding: 20px;
}

 .background {
    background-color: #f8f8f8; /* Cor de fundo para o elemento div */
    background-repeat: repeat-x; /* Repete a imagem de fundo horizontalmente */
    background-position: top right;
    background-size: cover;
    background-attachment: fixed;
    background-image: linear-gradient(to right, red, orange, yellow);
}

h1 {
    color: blue;
    text-align: center;
    font-size: 5vw; /* O tamanho da fonte é 5% da largura da viewport */
}

a {
    text-decoration: none;
    color: lightseagreen;
}

p {
    font-size: 150%; /* 150 % do Tamanho da fonte do elemento pai */
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #f00; /* Vermelho abreviado*/
}

p::before {
    content: "Nota: ";
    font-weight: bold;
}

p::after {
    content: " ";
    color: red;
}

p::first-letter {
    font-size: 200%;
    font-weight: bold;
}

p::first-line {
    font-variant: small-caps;
}

.botao {
    background-color: #0000ff; /* Azul */
    color: white;
    cursor: pointer;
}  

[data-info="importante"] {
    background-color: yellow;
    input [type="text"] {
        border: 1px solid gray;
    }
}

div [class^="example"] {
    border: 2px solid rgba(255, 0, 0, 0.5); /* Vermelho com 50% de opacidade */
}

a [href$="https"] {
    color: hsl( 120, 100%, 50%); /* Verde puro */
}

img [src$=".jpg"]{
    border: 2px solid black;
}

a:hover {
    color: rgb(255, 0, 0); /* Vermelho com 50% de opacidade */
}

input:focus {
    border: 2px solid blue;
}

button:active {
    position: relative;
    top: 2px;
    color: hsla(120, 100%, 50%, 0.3); /* Verde puro com 30% de opacidade */
}

li:first-child {
    font-weight: bold;
}

li:nth-child(2) {
    color: #00ff00; /* verde*/
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: lightgray;
    padding: 10px;
    margin-bottom: 5px;
}

li:hover {
    background-color: lightblue; /* Muda cor de fundo ao passar o mouse sobre o item da lista */
}

li:nth-child(odd) {
    color: red; /* Cor Vermelha para itens ímpares */
}

li:last-child {
    font-weight: bold; /* Negrito para o último item da lista */
    font-size: 1.5em; /* 150% do tamanho da fonte do elemento pai */
}

.texto-padrao {
    color: blue; /* Cor padrão para o parágrafo com classe texto-padrao */
}

.texto-padrao {
    color: red !important; /* Esta cor tem prioridade sobre azul, mesmo se definida depois */
}

.texto-padrao {
    color: yellow; /* Outra cor para todos os parágrafos com classe texto-padrao */
}